package components

import (
	"diov.local/krasivo/internal/models"
	"strings"
)

templ CurrencyDetail(currency models.Currency) {
	<div class="currency-item bg-dark-subtle rounded p-3 mt-3 me-3" style="width: 160px">
		<div class="h1 fw-bold">
			<img
				class="float-start"
				height="32"
				src={ "/images/currencies/" + strings.ToLower(currency.Symbol) + ".svg" }
				style="margin: 9px"
			/>
			{ currency.Symbol }
		</div>
		<p>{ currency.Name }</p>
		<p>{ currency.Price }</p>
	</div>
}
